body {
    background-color: bisque;
}

.navbar {
    position: sticky;
    top: 0;
}



#footer {
    background-color: whitesmoke;
    color: bisque;
    display:flex;
    flex-direction:row;
    justify-content:center;
    position:fixed;
    width: 100%;
    bottom:0;
}
 
.card {

}

.card-body {
    
}




@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    }